.menu p {
  color: rgb(251, 251, 251);
  display: inline-flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;
  user-select: none;
  transition: all 0.5s ease;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 500;
}

.menu ul.dots {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0;
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  vertical-align: middle;
  transform-origin: center center;
  transition: all 0.5s ease;
}

.menu ul.dots li {
  height: 5px;
  width: 5px;
  background: #fff;
  border-radius: 50%;
  list-style: none;
  opacity: 0.4;
  content: none;
}

.menu ul.dots li.mid {
  margin: 5px 0;
  z-index: 1;
  transition: all 0.5s ease;
}
