body{
    margin: 0%;
    height: auto;
    width: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-family: 'Mulish', sans-serif;
}

body::-webkit-scrollbar {
    display: none; /*Chrome, Safari and Opera*/
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    filter:brightness(50%);
}

.sectionA,.sectionB,.sectionC,.sectionD, .sectionE {
    height: 100%;
    width: auto;
    position: relative;
}

.whiteBG {
    background-color: white;
}

.blackBG {
    background-color: black;
}

#ffcLogo {
    max-width: 100%;
    position: relative;
    width: 65px;
}

.hidden{
    height: 340px;
    width: 900px;
    margin-left: 7vw;
    overflow: hidden;
    font-family: 'Mulish', sans-serif;
}

.txtBox{
    background: rgba(0, 0, 0, 0.6);
    margin-top: 3vw;
    height: 30vw;
    width: 75%;
    font-family: 'Mulish', sans-serif;
}

.txt{
    margin: 5% 0 0 5%;
}

.serviceNumber{
    color:rgb(89,91,91);
    font-size: 18px;
}

.fa-arrow-right{
    font-size: 18px;
    margin-left: 15px;
    opacity: 0;
    transition: all 250ms;
    transform: translateX(-10px);
}

.txt:hover .fa-arrow-right{
    opacity: 1;
    transition: all 250ms;
    transform: translateX(0px);
}

.serviceTitle{
    color: rgb(209, 209, 209);
    font-size: 24px;
}

.serviceText{
    color: rgb(209, 209, 209);
    font-size: 15px;
}

#textSecA {
    font-size: 5vw;
    color: white;
    font-weight: 600px;
    line-height: 1.1;
    letter-spacing: 1.5px;
}

/* AnimationFrameClass */

.fadeInLeft {
    margin-top: 40px;
    animation: fadeInLeft 1s;
    animation-fill-mode: both;
    animation-delay: 0.5s;
}

.slideInUp {
    animation: slideInUp 1s;
    animation-fill-mode: both;
    animation-delay: 1s;
    position: relative;
}

.slideInUp2 {
    animation: slideInUp2 1s;
    animation-fill-mode: both;
    animation-delay: 1.5s;
    position: relative;
}

.slideInUp3 {
    animation: slideInUp3 1s;
    animation-fill-mode: both;
    animation-delay: 2s;
    position: relative;
}
