@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-5vw);
    }
    100% {
        opacity: 1;
        transform: translateX(2vw);
    }
}

@keyframes slideInUp {
    0% {
        opacity: 1;
        top: 60vh;
    }
    100% {
        opacity: 1;
        top: 10vh;
    }
}

@keyframes slideInUp2 {
    0% {
        opacity: 1;
        bottom: -60%;
    }
    100% {
        opacity: 1;
        bottom: 0%;
    }
}

@keyframes slideInUp3 {
    0% {
        opacity: 1;
        top: 400px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes landArrowY {
    from {
        top: -100%;
    }
    to {
        top: 120%;
    }
}

@keyframes underlinedScroll {
    0% {
        transform: scaleX(1);
    }
    25% {
        transform: translateX(1em) scaleX(0.75);
    }
    40% {
        transform: translateX(3em) scaleX(0);
    }
    50% {
        transform: scale(0);
    }
    60% {
        transform: translateX(-2em) scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}