* {
  cursor: url("/materials/icon/cursor_center.svg"), auto;
}

.clickAbleImg {
  cursor: pointer;
}

.cursor {
  pointer-events: none;
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
  width: 40px;
  height: 40px;
  border: 2px solid #3fc7f2;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}

.cursor[tag="expanded"] {
  width: 150px;
  height: 150px;
  border: none;
  background-color: black;
  opacity: 0.75;
  pointer-events: none;
  margin-left: -55px;
  margin-top: -55px;
}

.cursorArrow {
  pointer-events: none;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  width: 20px;
  height: 20px;
  transition-duration: 30ms;
  transition-timing-function: linear;
  visibility: visible;
}

.cursorArrow[tag="hidden"] {
  visibility: hidden;
  pointer-events: none;
}
