#navBar {
  background-color: black !important;
  height: 5vw;
  width: 100% !important;
  padding-top: 0.2vw;
  position: fixed;
  margin: 0 0;
  font-size: 1.3em;
  color: white;
  visibility: hidden;
  z-index: 99;
}

@keyframes hideNav {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -8vw;
  }
}

@keyframes showNav {
  0% {
    margin-top: -8vw;
  }
  100% {
    margin-top: 0;
  }
}

#navBar div {
  float: left;
}

#navBar div:last-child {
  margin-top: 0.8em;
  margin-right: 2em;
  float: right;
}

#navBar div ul {
  margin-top: 0.8em;
  margin-left: 18vw;
}

#navBar div ul li {
  float: left;
  list-style: none;
  margin-left: 2.8em;
}

#navBar div ul li a {
  color: white !important;
}

#navBar div ul li a:visited {
  color: white !important;
}

#navBar div ul li a {
  display: inline-block;
  position: relative;
}

#navBar div ul li a::before {
  content: ".";
  display: inline-block;
  visibility: hidden;
  position: absolute;
  bottom: -0.5em;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 3em;
  filter: opacity(0.5);
  transform: visibility 0.5s ease;
}

#navBar div ul li a:hover::before {
  visibility: visible;
}
